@charset "UTF-8";

.contato_titulo {
    align-self: center;
    font-size: 2.0rem;
    font-weight: bolder;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contato_nome {
    font-size: 18px;
    margin-left: 20px;
}

.contato_email {
    font-size: 18px;
    margin-left: 20px;
}

.contato_telefone {
    font-size: 18px;
    margin-left: 20px;
}

.contato_mensagemTexto {
     font-size: 18px;
     margin-left: 20px;
} 