@charset "UTF-8";

.cabecalho_link {
    color: #fcfcfc;
    font-size: 1.0rem;
    font-weight: bold;
    padding-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.cabecalho_link:hover {
    color: #F28F79;
    text-decoration: underline;
}