@charset "UTF-8";

.projetos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
}

.projeto_titulo {
    color: #F28F79;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}