@charset "UTF-8";

.projeto_container1 {
    display: flex;
    justify-content: flex-start;
    margin: 10rem;
    width: 90rem;
}

.projeto_containerDestaque1 {
    align-items: center;
    background-color: grey;
    box-shadow: 5px 5px 5px black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
}

.projeto_container2 {
    display: flex;
    justify-content: flex-end;
    margin: 10rem;
    width: 90rem;
}

.projeto_containerDestaque2 {
    align-items: center;
    background-color: grey;
    box-shadow: 5px 5px 5px black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
}