@charset "UTF-8";

.formacao_containers {
    align-items: center;
    color: #bbbbbb;
    display: flex;
    height: 35em;
    margin: auto;
    width: 90em;
}

.formacao_container1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 15px;
    width: 484px;
    height: 353px;
}

.formacao_container2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 15px;
    width: 484px;
}

.formacao_container3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 15px;
    width: 484px;
    width: 484px;
    height: 353px;
}
